.p-15{
    padding: 30rpx;
}
.pl-15 {
    padding-left: 30rpx;
}
.pr-15 {
    padding-right: 30rpx;
}
.pl-30 {
    padding-left: 60rpx;
}
.pr-30 {
    padding-right: 60rpx;
}
.ml-5 {
    margin-left: 10rpx;
}

.border-box{
    box-sizing: border-box;
}