.list-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60rpx;
    box-sizing: border-box;
    &-item{
        width: 220rpx;
        margin-bottom: 20rpx;
        &-img{
            width: 220rpx;
            height: 480rpx;
            border-radius: 10rpx;
        }
    }
}