.tips{
    width: 100%;
    height: 60rpx;
    background-color: #f7e7e2;
    padding: 0 10rpx;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4rpx;
    &-img{
        width: 40rpx;
        height: 40rpx;
        margin-right: 10rpx;
    }
    &-text{
        font-size: 24rpx;
    }
}